{% extends "auctions/layout.html" %}

{% block body %}
    {%if listings%}
    <h2>Active Listings</h2>
    <div class="container m-0 p-0">
        <div class="row">
            {% for listing in listings %}
            <div class="col-3">
                <ol>
                        <li>
                            <div>
                                <img src="{{listing.url}}" alt="listing image" width="200px">
                            </div>
                            <h3>{{listing.title}}</h3>
                            <p>{{listing.description}}</p>
                            <p>Price: {{listing.price}}€</p>
            
                        </li>
                    </ol>
                </div>
                {% endfor %}
        </div>
    </div>
        
   
    {%else%}
    <h2>No listing available</h2>
    {%endif%}

    
{% endblock %}